<div class="wrap height-100">
  <div class="banner landing">
    <h3 class="mt-187">Forgot password</h3>
    <h4>We will send instructions to your email</h4>

    <div class="block-sign-in forgot-successfully">
      <form action="">
        <div class="row">
          <div class="col-xs-12">
            <p class="success"><i class="icon-ok"></i> Your password reset instructions has been successfully sent!</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
